---
name: Build

on:
  pull_request:
  push:
    branches:
      - "main"
  schedule:
    - cron: "1 0 * * 6"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - version: alma9
            dockerfile: Dockerfile
          - version: alma10
            dockerfile: Dockerfile.alma10

    steps:
      - uses: actions/checkout@v6

      - name: Test building image (${{ matrix.version }})
        run: docker build -t docker-ansible-${{ matrix.version }} -f ${{ matrix.dockerfile }} .

      - name: Run the image (${{ matrix.version }})
        run: >-
          docker run --name test-container-${{ matrix.version }} -d --privileged
          -v /sys/fs/cgroup:/sys/fs/cgroup:rw --cgroupns=host
          docker-ansible-${{ matrix.version }}

      - name: Verify Ansible is working in the built image (${{ matrix.version }})
        run: docker exec --tty test-container-${{ matrix.version }} env TERM=xterm ansible --version

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    strategy:
      matrix:
        include:
          - version: alma9
            dockerfile: Dockerfile
          - version: alma10
            dockerfile: Dockerfile.alma10
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Log in to the container registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ matrix.version }}

      - name: Build and Push
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64
          push: true
          build-args: VERSION="${{ matrix.version }}"
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
